body {
    background-color: #f2f1f2;
}

article {
    width: 400px;
    height: 500px;
    border: 1px solid grey;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    &:hover {
        
        .block {
            transform: translateY(-90px);
            opacity: 1;
        }
        p {
            opacity: 1;
        }
        .photo {
            transform: scale(1.25);
            filter: opacity(0.7);
        }
        box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.3)
    }
}

.pastille {
    text-align: right;
    z-index: 10;
}

.photo {
    display: block;
    width: 120%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    transition: transform 2s, filter 2s;
}

p {
    text-align: justify;
    opacity: 0;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    transition: opacity 2s;
}
.phototext {
    width: 70px;
    height: 30px;
    padding: 5px;
    position: relative;
    background-color: #dd5555;
    color: white;
    top: -20px;
    text-align: center;
    font-weight: bold;
    z-index: 4;
}
.block {
    background-color: white;
    position: relative;
    line-height: 20px;
    width: auto;
    height: 200px;
    transition: transform 2s, opacity 2s;
}
h1 {
    padding-left: 10px;
}
h2 {
    padding-left: 10px;
    font-weight: lighter;
}
footer {
    font-size: 90%;
    padding: 20px;
    position: relative;
    width: auto;
    z-index: 2;
    bottom: 2em;
    background-color: white;
}
a {
    text-decoration: none;
}